<header id="main-header">
<link rel="stylesheet" href="styles/styles.css" />
<!---<div id="logo"><a href="/">Classroom</a></div>--->
<nav class="menu">
  <ul class="menu__list" >
    <li class = "menu__group"><a href = "/restaurants" class ="menu__link select__link" >Stream</a></li>
    <li class = "menu__group"><a href = "/recommend"class ="menu__link" >Classwork</a></li>
    <li class = "menu__group"><a href = "/about" class ="menu__link" >People</a></li>
    <li class = "menu__group"><a href = "/about" class ="menu__link" >Meeting</a></li>
  </ul>
  </nav>
</header>

<!--<button id="drawer-btn">
  <span></span>
  <span></span>
  <span></span>
</button>-->