<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    
    <main>
      <h1>People</h1>
      <p>
        See all your classmates!
      </p>
    </main>
    
  </body>
</html>
