<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    
    <main>
      <h1>People</h1>
      <p>
        See all your classmates!
      </p>
      
      <ul id="restaurants-list">
        <% for ( const restaurant of restaurants) { %>
          <%- include('includes/restaurants/restaurant-items', {restaurant: restaurant}) %>
          <!-- I named the key that is restaurant to deliver data into it  -->
         <% } %>
        
      </ul>
    </main>
    
  </body>
</html>
