<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Communicate with your teachers and classmates!</h1>
      <ul id="actions">
        <li>
          <a href="/restaurants">Browse your classmates posts</a>
        </li>
        <li>
          <a href="/recommend">Share a post to your classmates</a>
        </li>
      </ul>
    </main>
  </body>
</html>
