<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body>
    <header id="main-header">
      <link rel="stylesheet" href="styles/styles.css" />
      <!---<div id="logo"><a href="/">Classroom</a></div>--->
      <nav class="menu">
        <ul class="menu__list" >
          <li class = "menu__group"><a href = "/restaurants" class ="menu__link" >Stream</a></li>
          <li class = "menu__group"><a href = "/recommend"class ="menu__link" >Post</a></li>
          <li class = "menu__group"><a href = "/about" class ="menu__link" >People</a></li>
          <li class = "menu__group"><a href = "/about" class ="menu__link" >Meeting</a></li>
        </ul>
        </nav>
      </header>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Communicate with your teachers and classmates!</h1>
      <ul id="actions">
        <li>
          <a href="/restaurants">Browse your classmates posts</a>
        </li>
        <li>
          <a href="/recommend">Share a post to your classmates</a>
        </li>
      </ul>
    </main>
  </body>
</html>
